{% extends 'base.html.twig' %}

{% block title %}New CityList{% endblock %}

{% block body %}
    <h1>Create new CityList</h1>

    {{ include('city_list/_form.html.twig') }}

    <a href="{{ path('city_list_index') }}">back to list</a>
{% endblock %}
