{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} Contact{% endblock %}
{% block stylesheets %}



<!-- Stylesheet GOOGLE FONT -->
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Yeseva+One&display=swap"
  rel="stylesheet">

<!-- Stylesheet BOOTSTRAP -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<link rel="stylesheet" href="{{ asset('css/style-contact.css') }}" crossorigin="" />

{% endblock %}
{% block container %}
<div class="form-contact">

     <h1 class="text-center m-2">Contact</h1>
    <p class="text-center m-2">Vous avez une demande particulière, une question ou souhaitez-nous partager une information ou un bug rencontré? Ecrivez-vous!</p>
    {{ include('main/_form.html.twig', {'button_label': 'Envoyer'}) }}

</div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script>
    document.querySelector('button ').classList.add('form-submit-contact');
    document.querySelector('button ').classList.remove('btn-dark');


    /*  This script allows us to change informations, styles of labels and inputs on click or on blur */

    //Changing placeholders 
    document.getElementById('contact_email').onclick = function (evt) {
        evt.target.setAttribute('placeholder', 'jean.dupont@gmail.com');
    }

    document.getElementById('contact_message').onclick = function (evt) {
        evt.target.setAttribute('placeholder', 'Bonjour, je souhaite...');
    }

    //Adding event listeners on inputs
    let inputEmail = document.getElementById('contact_email');
    let inputMessage = document.getElementById('contact_message')
    let labelEmail = document.querySelectorAll('label')[0];
    let labelMessage = document.querySelectorAll('label')[1];

    if (inputEmail.value !== '') {
        labelEmail.style.top = "2px";
        labelEmail.style.left = "0px";
    }

    if (inputMessage.value !== '') {
        labelMessage.style.top = "2px";
        labelMessage.style.left = "0px";
    }

    inputEmail.addEventListener('focus', handleClickOnInputEmail, false);
    inputMessage.addEventListener('focus', handleClickOnInputMessage, false);

    function handleClickOnInputEmail(evt) {

        labelEmail.style.top = "2px";
        labelEmail.style.left = "0px";

        inputEmail.onblur = function () {
            if (!inputEmail.value) {
                inputEmail.classList.add('constraint');
            }
            else {
                inputEmail.classList.remove('constraint');
                inputEmail.classList.add('valid');
            }
        }

    }

    function handleClickOnInputMessage(evt) {

        labelMessage.style.top = "2px";
        labelMessage.style.left = "0px";

        inputMessage.onblur = function () {
            if (!inputMessage.value) {
                inputMessage.classList.add('constraint');
            }
            else {
                inputMessage.classList.remove('constraint');
                inputMessage.classList.add('valid');
            }
        }

    }


</script>
{% endblock %}