{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Bienvenue{% endblock %}
{% block stylesheets %}
    <!-- Stylesheet INTERNE -->
    <link rel="stylesheet" href="{{ asset('css/style-welcome.css') }}" crossorigin=""/>
{% endblock %}
{% block body %}
<!-- The video -->
<video preload  autoplay muted loop playsinline id="myVideo">
  <source src="videos/forest.mp4" type="video/mp4">
</video>

<!-- Optional: some overlay text to describe the video -->
<div class="content my-auto">
<img src="images/logo.png" class="logo" />
  <h1>Préparez votre prochain voyage</h1>
  <h2>
    Vous êtes à la recherche de votre prochaine destination ?  
  </h2>
    <p>
    Dream Travel vous permet d'établir la liste de destinations qui pourront satisfaire vos envies. <br />
    Cliquez sur 'Commencer' pour effectuer votre première recherche.
  </p>

  <button type="button" class="btn btn-outline-light btn-lg">
    <a href="{{ path('advanced_search') }}" class="welcome-btn">Commencer</a>
  </button>
</div>

{% endblock %}
